PROJECT_NAME=Ilmora
API_V1_STR=/api/v1
BACKEND_CORS_ORIGINS=["http://localhost:3000", "http://localhost:8000"]
POSTGRES_SERVER=localhost
POSTGRES_USER=postgres
POSTGRES_PASSWORD=start_fresh
POSTGRES_DB=ilmora
OPENAI_API_KEY=sk-...
